@model ConfirmMailViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <h2>@ViewBag.Email</h2>
        <label>Kullanici ID Degeri</label>
        <input type="text" class="form-control" asp-for="Email" value="@ViewBag.Email"/>
        <br/>
        <label>Mail Adresinize Gelen 6 Haneli Kodu Giriniz</label>
        <input type="text" class="form-control" asp-for="ConfirmCode"/>
        <br/>
        <button class="btn btn-primary">Hesabı Aktifleştir</button>
    </form>

</div>

